<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-950 font-sans text-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-zinc-900 ring-1 ring-zinc-950/5 p-6 rounded-lg shadow-lg mb-8 ring-white/10">
        <h1 class="text-2xl font-bold mb-4">Bienvenue, {{ username }}!</h1>
        <p class="mb-4">Vous êtes maintenant connecté.</p>
        
        <form action="./submit_message.php" method="POST" class="mb-4">
            <textarea name="message" rows="4" class="w-full p-2 rounded text-black" placeholder="Écrivez votre message ici..." required></textarea>
            <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Envoyer</button>
        </form>

        <h2 class="text-xl pb-5 font-bold">Vos messages :</h2>
        <div>
            {% for message in messages %}
                <div class="bg-gray-700 p-5 m-2 rounded">
                    <p>{{ message.message }}</p>
                    <small class="text-gray-400">{{ message.created_at }}</small>
                    <div class="flex w-full mt-2">
                        <form action="./edit_message.php" method="GET" class="mr-2">
                            <input type="hidden" name="id" value="{{ message.id }}">
                            <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-3 rounded">Modifier</button>
                        </form>
                        <form action="./delete_message.php" method="POST">
                            <input type="hidden" name="id" value="{{ message.id }}">
                            <button type="submit" class="bg-red-200 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">Supprimer</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="./logout.php" class="mt-10 flex items-center bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Déconnexion</a>
    <a href="./reset_password.php" class="mt-4 flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Réinitialiser le mot de passe</a>
   </div>
</body>
</html>